@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #171717;

  --primary: #5241c3;
  --primary-lighter: #6f5ccc;
  --primary-foreground: #fafafa;

  --secondary: #b8da8b;
  --secondary-lighter: #e0efcc;
  --secondary-foreground: #171717;

  --accent: #65ce9f;
  --accent-lighter: #95dbba;
  --accent-foreground: #171717;

  --delete: #eb221f;
  --delete-lighter: #f5453f;
  --delete-foreground: #fafafa;

  --title: "Oswald", sans-serif;
  --content: "Roboto", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.customSwiper .swiper-button-next,
.customSwiper .swiper-button-prev {
  color: #5241c3;
  transform: scale(0.8);
}

.customSwiper .swiper-button-next:hover,
.customSwiper .swiper-button-prev:hover {
  color: #6f5ccc;
  transform: scale(1.1);
}

.customSwiper .swiper-button-next:after,
.customSwiper .swiper-button-prev:after {
  color: #5241c3;
}
